# Midterm Assignment: McDonald's Sentiment Data Analysis

## Problem

McDonald’s receives thousands of consumer comment on their website every day and many of them are negative. Their corporate employees do not have the time to browse through every single comment, but they do want to read a subset that they are most interested in. In particular, articles about the rude service of their employees have recently surfaced on social media. In order to take appropriate action, they would now like to review comments about **rude service**. 

You are hired to develop a system that ranks each comment by the **likelihood that it is referring to rude service**. They will use this system to build a “rudeness dashboard” for their corporate employees, so that the employees can spend a few minutes each day examining the **most relevant recent comments**.


## Data

McDonald’s used the CrowdFlower platform to pay humans to hand-annotate approximately 1500 comments with the type of complaint. The list of complaint types can be found below, with the encoding used listed in parentheses: 
- Bad Food (BadFood)
- Bad Neighborhood (ScaryMcDs)
- Cost (Cost)
- Dirty Location (Filthy)
- Missing Item (MissingFood)
- Problem with Order (OrderProblem)
- Rude Service (RudeService)
- Slow Service (SlowService)
- None of the above (na) 

You will be asked to perform some tasks. In the midst of these tasks, some MCQs will be asked. You are to select the best possible option as your answer. Please answer them accordingly.

In [2]:
# for Python 2: use print only as a function
from __future__ import print_function

## Task 1

Read **'mcdonalds.csv'** into a pandas DataFrame and examine it. (Instructions: mcdonalds.csv can be found in “IVLE Workbin > Midterm Assignment”) 

A description of the more important columns to get you started: 
- The **policies_violated** column lists the type of complaint. If there is more than one type, the types are separated by newline characters.
- The **policies_violated:confidence** column lists CrowdFlower's confidence in the judgments of its human annotators for that row (higher is better).
- The **city** column is the McDonald's location.
- The **review** column is the actual text comment.

**Please answer Question 1 as in midterm.pdf.**

In [26]:
import pandas as pd
import numpy as np

data = pd.read_csv("mcdonalds.csv")
data.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,policies_violated,policies_violated:confidence,city,policies_violated_gold,review,Unnamed: 10
0,679455653,False,finalized,3,2/21/15 0:36,RudeService\nOrderProblem\nFilthy,1.0\n0.6667\n0.6667,Atlanta,NaN,"I'm not a huge mcds lover, but I've been to be...",NaN
1,679455654,False,finalized,3,2/21/15 0:27,RudeService,1,Atlanta,NaN,Terrible customer service. ŒæI came in at 9:30...,NaN
2,679455655,False,finalized,3,2/21/15 0:26,SlowService\nOrderProblem,1.0\n1.0,Atlanta,NaN,"First they ""lost"" my order, actually they gave...",NaN
3,679455656,False,finalized,3,2/21/15 0:27,na,0.6667,Atlanta,NaN,I see I'm not the only one giving 1 star. Only...,NaN
4,679455657,False,finalized,3,2/21/15 0:27,RudeService,1,Atlanta,NaN,"Well, it's McDonald's, so you know what the fo...",NaN

In [12]:
print(data.loc[127].review)

Ok I'm waiting for like 10 minutes to place my order with the staff walking back & forth just looking at me like I'm crazy. And another 10 minutes or so before i got my food, This location use to be my stop in the mornings when I worked near here but they have fallen way off.

## Task 2

Remove any rows from the DataFrame in which the policies_violated column has a null value.
- **Note**: Null values are also known as “missing values”, and are encoded in pandas with the special value “NaN’. This is different from the “na” encoding used by CrowdFlower to denote “None of the above”. Rows that contain “na” should not be removed. 

**Please answer Questions 2 and 3 as in midterm.pdf.**

In [19]:
len(data[data['policies_violated'] == 'na'])

295

In [40]:
data.shape

(1525, 11)

In [42]:
data['city'].isnull().sum()

87

In [45]:
data['policies_violated'].isnull().sum()

54

In [46]:
# supposed len
1525 - 54

1471

In [51]:
data['policies_violated'].notnull().sum()

1471

In [52]:
data_clean = data[data['policies_violated'].notnull()]
data_clean.head(3)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,policies_violated,policies_violated:confidence,city,policies_violated_gold,review,Unnamed: 10
0,679455653,False,finalized,3,2/21/15 0:36,RudeService\nOrderProblem\nFilthy,1.0\n0.6667\n0.6667,Atlanta,NaN,"I'm not a huge mcds lover, but I've been to be...",NaN
1,679455654,False,finalized,3,2/21/15 0:27,RudeService,1,Atlanta,NaN,Terrible customer service. ŒæI came in at 9:30...,NaN
2,679455655,False,finalized,3,2/21/15 0:26,SlowService\nOrderProblem,1.0\n1.0,Atlanta,NaN,"First they ""lost"" my order, actually they gave...",NaN

In [53]:
data_clean.shape

(1471, 11)

In [44]:
data_clean.head(3)

0    RudeService\nOrderProblem\nFilthy
1                          RudeService
2            SlowService\nOrderProblem
Name: policies_violated, dtype: object

## Task 3

Add a new column to the DataFrame called **"rude"** that is 1 if the **policies_violated** column contains the text "RudeService", and 0 if the **policies_violated** column does not contain "RudeService". The "rude" column is going to be your response variable, so check how many zeros and ones it contains.

**Please answer Question 4 as in midterm.pdf.**

In [71]:
def find_rude_service(text):
    c = text.find('RudeService')
    return 1 if c != -1 else 0

In [72]:
data['rude'] = data['policies_violated'].apply(find_rude_service)

In [73]:
data.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,policies_violated,policies_violated:confidence,city,policies_violated_gold,review,Unnamed: 10,rude
0,679455653,False,finalized,3,2/21/15 0:36,RudeService\nOrderProblem\nFilthy,1.0\n0.6667\n0.6667,Atlanta,NaN,"I'm not a huge mcds lover, but I've been to be...",NaN,1
1,679455654,False,finalized,3,2/21/15 0:27,RudeService,1,Atlanta,NaN,Terrible customer service. ŒæI came in at 9:30...,NaN,1
2,679455655,False,finalized,3,2/21/15 0:26,SlowService\nOrderProblem,1.0\n1.0,Atlanta,NaN,"First they ""lost"" my order, actually they gave...",NaN,0
3,679455656,False,finalized,3,2/21/15 0:27,na,0.6667,Atlanta,NaN,I see I'm not the only one giving 1 star. Only...,NaN,0
4,679455657,False,finalized,3,2/21/15 0:27,RudeService,1,Atlanta,NaN,"Well, it's McDonald's, so you know what the fo...",NaN,1

In [58]:
task3 = data[(data['policies_violated'] == 'RudeService')]

In [59]:
task3.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,policies_violated,policies_violated:confidence,city,policies_violated_gold,review,Unnamed: 10
1,679455654,False,finalized,3,2/21/15 0:27,RudeService,1,Atlanta,NaN,Terrible customer service. ŒæI came in at 9:30...,NaN
4,679455657,False,finalized,3,2/21/15 0:27,RudeService,1,Atlanta,NaN,"Well, it's McDonald's, so you know what the fo...",NaN
7,679455660,False,finalized,3,2/21/15 0:15,RudeService,0.6801,Atlanta,NaN,One Star and I'm beng kind. I blame management...,NaN
11,679455664,False,finalized,3,2/21/15 0:40,RudeService,1,Atlanta,NaN,Other businesses throughout Metro Atlanta open...,NaN
12,679455665,False,finalized,3,2/21/15 0:24,RudeService,0.6667,Atlanta,NaN,The drive thru makes them lost a star since my...,NaN

In [60]:
len(task3)

177

In [64]:
data['policies_violated'] = data['policies_violated'].astype(str)

In [65]:
x = data['policies_violated'].apply(lambda x: x.find('RudeService'))

In [66]:
x

0        0
1        0
2       -1
3       -1
4        0
5       -1
6       -1
7        0
8       12
9       -1
10      -1
11       0
12       0
13      -1
14       8
15      -1
16      -1
17      -1
18      -1
19       0
20      -1
21      -1
22       0
23      -1
24      -1
25      -1
26       0
27      -1
28      12
29      -1
        ..
1495    -1
1496    -1
1497    -1
1498    -1
1499    13
1500    -1
1501    -1
1502     0
1503    -1
1504     0
1505     0
1506    -1
1507    -1
1508    -1
1509     8
1510    -1
1511     0
1512    13
1513    -1
1514    -1
1515    -1
1516    -1
1517    13
1518    -1
1519     0
1520    -1
1521    -1
1522    -1
1523    -1
1524    -1
Name: policies_violated, dtype: int64

In [67]:
x[x != -1]

0        0
1        0
4        0
7        0
8       12
11       0
12       0
14       8
19       0
22       0
26       0
28      12
31       0
33       0
34       0
39       0
47       0
54      32
55      13
59       0
72       0
73       0
82      12
85      12
87       0
89       7
90       0
94       0
97       0
105     25
        ..
1438     0
1442     0
1452     0
1453    10
1455    13
1459     0
1463     0
1464     0
1465     0
1467     0
1468    12
1469    13
1475    12
1476    12
1477    12
1478     0
1481     0
1485     0
1487     0
1488     0
1493    13
1499    13
1502     0
1504     0
1505     0
1509     8
1511     0
1512    13
1517    13
1519     0
Name: policies_violated, dtype: int64

In [69]:
data

503

## Task 4

Define X using the **review** column and y using the **rude** column. Split X and y into training and testing sets (using the parameter **`random_state=1`**). Use CountVectorizer (with the **default parameters**) to create document-term matrices from X_train and X_test. 
- Note: Please remember to follow the instructions carefully by setting the parameters as required for reproducibility of results. 

**Please answer Questions 5 and 6 as in midterm.pdf.**

## Task 5

Fit a Multinomial Naive Bayes model to the training set, calculate the **predicted probabilities** for the testing set, and then calculate the AUC. Repeat this task using a logistic regression model to compare which of the two models achieves a better AUC. 
- **Note**: McDonald’s requires you to rank the comments by the likelihood that they refer to rude service. In this case, classification accuracy is NOT the relevant evaluation metric. Area Under Curve (AUC) is a more useful evaluation metric for this scenario, since it measures the ability of the classifier to assign higher predicted probabilities to positive instances than to negative instances. 

**Please answer Questions 7, 8 and 9 as in midterm.pdf.**

## Task 6

Using Naive Bayes, try **tuning CountVectorizer** using some of the techniques we learned in class. Check the testing set AUC after each change, and find the set of parameters that increases AUC the most. (This is meant for your own learning experience)
- **Hint**: It is highly recommended that you adapt the **`tokenize_test()`** function from class for this purpose, since it will allow you to iterate quickly through different sets of parameters. 

**Please answer Questions 10 and 11 as in midterm.pdf.**

## Task 7 

The city column might be predictive of the response, but we are currently not using it as a feature. We will now explore to see if we can increase the AUC by adding city to the model. You are to do the following: 
1. Create a new DataFrame column, review_city, that concatenates the review text with the city text. One easy way to combine string columns in pandas is by using the `Series.str.cat()` method. Make sure to use the whitespace character as a separator, as well as replacing null city values with a reasonable string value such as ‘na’. 
2. Redefine X using the review_city column, and re-split X and y into training and testing sets (using the parameter `random_state=1`). 
3. By allowing for English stopwords removal, and setting the following parameters as `max_df = 0.3`, `min_df=4` in the CountVectorizer, check whether it has increased or decreased the AUC. 

**Please answer Question 12 as in midterm.pdf.**

## Task 8 

The **policies_violated:confidence** column may be useful as it is a measure of the training data quality. You are to calculate the **mean confidence** score for each row of your McDonald’s dataset (i.e. X_train together with X_test) and store these mean scores in a new column. For example the confidence scores for the first row are 1.0\r\n0.6667\r\n0.6667, so you should calculate a mean of 0.7778. Here are some of the steps you can follow: 
1. Using the `Series.str.split()` method, convert the policies_violated:confidence column into lists of one or more “confidence scores”. Save the results as a new DataFrame column called **confidence_list**. 
2. Apply a function that can calculate the mean of a list of numbers, and pass that function to the `Series.apply()` method of the **confidence_list** column. Save those scores in a new DataFrame column called **confidence_mean**. 

**Please answer Question 13 as in midterm.pdf.**

We will now like to remove lower-quality rows from the training set to reduce noise. You are to remove all rows from X_train and y_train that have a confidence_mean lower than 0.75. 

**Please answer Questions 14 and 15 as in midterm.pdf.**